{% extends "base.html" %}
{% load staticfiles %}


{% block title %}  
	Career
{% endblock %}


{% block content %}  
	  

  <!-- BANNER STRAT -->
  <div class="banner career-banner"></div>
  <!-- BANNER END --> 


  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">Career</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
          <li><span>Career</span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 




 <!-- COntents STRAT -->
 <section class="pb-95">
    <div class="container">
          <div class="row">
            {% if page_list|length > 0 %}
              <div class="col-xs-12 mb-xs-30">
                <div class="career-list-table commun-table">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
	                       	<th>Vacancy</th> 
	                      	<th>Description</th>
	                      	<th></th>
	                        <th></th> 
                        </tr>
                      </thead>
                      <tbody>

	                      {% for vacancy in page_list %}
	                        <tr>
	                          <td >
	                            <a href="{{ vacancy.get_absolute_url }}" ><b>{{ vacancy.title }} </b></a>
	                          </td>
	                          <td>
	                            <div>
	                              <span class="info-deta">{{ vacancy.job_summary }}</span>
	                            </div>
	                          </td>
	                          <td>
	                  			<a href="{{ vacancy.get_absolute_url }}"  >Read More</a>
	                          </td>
	                          <td>
	                  			<a href="{{ vacancy.id }}/{{ vacancy.slug }}/new_resume/"><button class="btn-black"  name="submit">Apply</button></a>
	                          </td>
	                        </tr>
	                       {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            {%else%}
              <div class="col-xs-12">
                <div class="heading-part align-center">
                  </br>
                    <h3 class="heading">No Vacancies available for the time being.</h3>
                    <p>Please check again later.</p>
                    </br>
                </div>
              </div>
            {% endif %}

          </div>

      {% include '_paginator.html' %}

    </div>
</section>
<!-- CONTENTS ENDS -->
{% endblock %}
