{% extends "base.html" %}
{% load static %}

{% block title %}
	About
{% endblock %}

{% block content %}  



  <!-- BANNER STRAT -->
  <div class="banner contact-banner"></div>
  <!-- BANNER END -->


  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">About</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
          <li>Contact</i></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 



  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          

hi there 

          </div>
        </div>
      </div>
    </div>
  </section>








</br>



  {% endblock %}