{% extends "base.html" %}
{% load staticfiles %}


{% block title %}  
	Categories
{% endblock %}


{% block content %}  
	  

  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">Categories</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
          <li><span>Categories List</span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 
<br/>
<br/>

  <!-- CONTAIN START -->
  <section>
    <div class="container">
      <div class="sub-banner-block center-xs">
        
        <div class="row m-0">
        {% for category in page_list %}
	        	{% if forloop.counter|divisibleby:"3" %}
	      			<div class="row m-0">
	     		  {% endif %}
			          <div class="col-sm-4 p-0">
			            <div class="sub-banner sub-banner1 " style="visibility: visible; animation-name: zoomIn;">
			              <a href="{{ category.get_absolute_url }}">
			                <img src="{% if category.image %}{{ category.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"   Image" style="width: auto; height: 420px; "> 
			                <div class="sub-banner-detail">
			                  <div class="sub-banner-title">{{ category.name|slice:":20" }}</div>
			                  <div class="sub-banner-subtitle">Click to See all Products ({{category.products.count}})</div>
			                </div>
			              </a>
			            </div>
			          </div>
	        	{% if forloop.counter|divisibleby:"3" %}
	      			</div>
	     		  {% endif %}
		{% endfor %}
        </div>
        
        {% include '_paginator.html' %}
      </div>
    </div>
  </section>


</br>



{% endblock %}



