{% extends "product/base.html" %}
{% load staticfiles %}


{% block title %}  
	Categories
{% endblock %}


{% block content %}  
	  
	<div class="container">
	  <div class="container">

			{% for category in categories %}                   
				<div class="category_gallery">
					<a href="{{ category.get_absolute_url }}">    
	   					<img src="{% if category.image %}{{ category.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"  width="240" height="190" alt="Image">        
	   				</a> 
		   			<div class="desc"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></div>
			        <div class="desc" style="height: 100px;">{{ category.description }}</div>
				</div>
			{% endfor %}

	  </div>


	  <div class="container">
	    
	    </div>
			<div class="pagination">
			    <span class="step-links">
			        {% if categories.has_previous %}
			            <a href="?page={{ categories.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
			        </span>

			        {% if categories.has_next %}
			            <a href="?page={{ categories.next_page_number }}">next</a>
			        {% endif %}
			    </span>
			</div>
	  

		</div>

	</div>
{% endblock %}



