{% extends "base.html" %}
{% load staticfiles %}


{% block title %}  
	Search
{% endblock %}


{% block content %}  
	  

  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">Search Products</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
          <li><span>Search</span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 





<form class="form-horizontal" role="form"  action="/search/" method="GET">
{% csrf_token %}

 <section class="pb-95">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 mb-xs-30">	
          <div class="sidebar-block">
            <div class="sidebar-box filter-sidebar mb-40">
              <span class="opener plus"></span>
              <div class="main_title sidebar-title">
                <h3><span>Advanced</span> Search</h3>
              </div>
              <div class="sidebar-contant">

                <div class="filter-inner-box mb-20">
                  <div class="inner-title">Search Product</div>
                  <ul>
	                  <li>
	                    <div class="header_search_toggle mobile-view">
	                        <div class="search-box">
	                          <input type="text" name="search_query" placeholder="Search entire store here..." class="input-text" value="{{original_search_text}}" >
	                         <!-- <button class="search-btn"></button> -->
	                        </div>
	                    </div>
	                  </li>
                  </ul>
                </div>

                <div class="filter-inner-box mb-20">
                  <div class="inner-title">Price Max Value</div>
                  <ul>
	                  <li>
	                    <div class="header_search_toggle mobile-view">
	                        <div class="search-box">
	                          <input type="text" class="input-text" name="max_price"  id="amount" {% if max_price %} value="{{ max_price }}" {% endif %} >
	                        </div>
	                    </div>
	                  </li>
                  </ul>
                </div>

       			<div class="filter-inner-box mb-20">
       			<div class="inner-title">Search in Category</div>
					     <div class="input-box">
                		<select name="search_category" id="id_search_category">
                			<option value="None" {% if not category %} selected {% endif %}>All</option>
						      {% for c in categories %} 
		                  		<option value="{{ c.name }}" {% if category.slug == c.slug %} selected {% endif %}>{{ c.name|title|slice:":28" }} </option>
							    {% endfor %}
                  		</select>
                  	</div>
                </div>

                <div class="filter-inner-box mb-20">
                  	<div class="inner-title">Exact Match</div>
					<div class="check-box">
                      <span>
                      	<input type='checkbox' name="is_exact_match" id="id_is_exact_match" id="chk-billing-address" class="checkbox" {% if is_exact_match %} checked {%endif%}/>
                      </span>
                      <label for="is_exact_match">Search Based on Exact Match</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-black">Search :: <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </div>
            </div>

          </div>
        </div>
	 
        

        <div class="col-md-9 col-sm-8">


          <div class="shorting mb-30">
            <div class="row">
              <div class="col-md-6">
                <div class="view">
                  <div class="list-types grid active">
                    <a href="{{request.get_full_path}}">
                      <div class="grid-icon list-types-icon"></div>
                    </a> 
                  </div>
                  <div class="list-types list ">
                    <a href="{{request.get_full_path}}">
                      <div class="list-icon list-types-icon"></div>
                    </a> 
                  </div>
                </div>
                <div class="short-by float-right-sm">
                  <span>Sort By</span>
                  <div class="select-item">
                    <select>
                      <option value="" selected="selected">Name (A to Z)</option>
                      <option value="">Name(Z - A)</option>
                      <option value="">price(low&gt;high)</option>
                      <option value="">price(high &gt; low)</option>
                      <option value="">rating(highest)</option>
                      <option value="">rating(lowest)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="show-item right-side float-left-sm">
                  <span>Show</span>
                  <div class="select-item">
                    <select name="show_count" onchange="this.form.submit();">
                      <option value="30" {% if show_count == 30%} selected="selected" {%endif%}>30</option>
                      <option value="20" {% if show_count == 20%} selected="selected" {%endif%}>20</option>
                      <option value="10" {% if show_count == 10 or show_count == None%} selected="selected" {%endif%}>10</option>
                    </select>
                  </div>
                  <span>Per Page</span>
                </div>
              </div>
            </div>
          </div>



          <div class="product-listing">
            <div class="row mlr_-20">
      				  {% if start_search == 'StartSearch'%}
      						<p >Please select a Search Criteria to find the product you need.</p>

      			    {% elif total_results == 0 or total_results == None %} 
      			    	<p >Your search "<strong>{{original_search_text}}</strong>" did not match any products. Try something like:</p>
      					<ul>	
      						<li class="text-muted">Checking your spelling</li>
      						<li class="text-muted">Modify your serach filters</li>
      					</ul>
      			    {% else %} 
      					<h4>
      						( {{ total_results }} Items Found)
      					</h4>
      					{% for product in page_list %}                   
			              <div class="col-md-3 col-xs-6 plr-20">
			                <div class="product-item">
			                  <div class="product-image">
                          {% if product.is_discounted %}
                            <div class="sale-label"><span>Sale</span></div>
                          {% endif %}
                          {% if product.is_featured %}
                            <div class="featured-label"><span>Featured</span></div>
                          {% endif %}
									        <a href="{{ product.get_absolute_url }}">    
						   				     <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"   alt="Image">        
						   			      </a> 
			                  </div>
			                  <div class="product-item-details">
			                    <div class="product-item-name">
			                      <a href="{{ product.get_absolute_url }}">{{ product.name|slice:":30" }}</a>
			                    </div>
                          <div class="price-box">
                            {% if product.is_discounted %}
                                <span class="price">SAR {{ product.discounted_price }}</span>
                                <del class="price old-price">SAR {{ product.price }}</del>
                             {% else %}
                              <span class="price">SAR {{ product.price }}</span>
                            {% endif %}
                          </div>
			                  </div>
			                  <div class="product-detail-inner">
			                    <div class="detail-inner-left left-side">
			                      <ul>
			                        <li class="pro-cart-icon">
			                          <form>
			                            <button title="Add to Cart"><span></span>Add to Cart</button>
			                          </form>
			                        </li>
			                      </ul>
			                    </div>
			                    <div class="detail-inner-left right-side">
			                      <ul>
			                        <li class="pro-wishlist-icon active"><a href="#"></a></li>
			                        <li class="pro-compare-icon"><a href="#"></a></li>
			                      </ul>
			                    </div>
			                  </div>
			                </div>
			              </div>
      					{% endfor %}
      				{% endif %}
            </div>

            {% include '_paginator.html' %}
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
  <!-- CONTAINER END --> 


{% endblock %}



