{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="heading-part align-center">
                    </br>
                    <h2 class="heading">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    </br>
                </div>
              </div>
            </div>
          </div>
        <br/>

        {% if form %}

            <form  class="main-form full" id="signup_form" method="POST" action="{{ action_url }}">
            {% csrf_token %}
              <section class="checkout-section pb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkout-content" >


                                <div class="row">
                                  <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                                    <div class="col-sm-12">
                                        <div class="input-box">
                                             <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                             <br/>

                                            {{ form.as_p }}

                                            <button type="submit" class="btn-black" >{% trans 'change password' %} &raquo;</button>
                                            <br/>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
              </section>
            </form>

        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
        {% endif %}


{% endblock %}
