{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}





  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">{% trans "Change Password" %}</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/profiles/">My Account</a><i class="fa fa-angle-right"></i></li>
          <li>{% trans "Change Password" %}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 


<form  class="main-form full" id="signup_form" method="POST" action="{% url 'account_change_password' %}">
{% csrf_token %}
  <section class="checkout-section pb-95">
    <div class="container">
      	<div class="row">
			<div class="col-xs-12">
         		<div class="checkout-content" >


				<!--  This is my custom message to notify the user once his password get changed. i am using the signal to fire this custom message with a custom level of 50 (from my choise) -->
					{% if messages %}
						{% for message in messages %}
							{% if message.level == 50 %}
			         			<div class="row">
			         				<div class="col-sm-12">
										<ul class="messages">
										    
										    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
										    
										</ul>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}


		            <div class="row">
		              <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-3 col-sm-offset-2">
		              	<div class="col-sm-12">
		                    <div class="input-box">
		                      	
		                      	{{ form.as_p }}

								<button type="submit" class="btn-black" >{% trans "Change Password" %} &raquo;</button>

		                    </div>
		              	</div>
		              </div>
		            </div>

	      		</div>
        	</div>
      	</div>
    </div>
  </section>
</form>



{% endblock %}
